.carty-navbar {
    margin: 0;
    padding: 0;
    height: 48px;
    color: white;
    overflow: hidden;
    list-style-type: none;
    background-color: #444;
}

li {
    float: left;
}

li a {
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #aaa;
    color: black;
}

.active {
    background-color: #4B9B4F;
}

.right {
    float: right;
}

.unclickable {
    pointer-events: none;
}